body
{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    background: rgb(71, 63, 63); 
    text-align: center;
    margin: 0;
    padding: 0;

}
.offset:before {
    height: 5rem;
    margin-top: -5rem;
    content: "";
    display: block;

}
.jambotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
}
.col-12 {
    padding: 30px;
}
.col-md-6 {
    padding-right: 10rem;
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: cadetblue;
    margin: 0 auto 2rem;
}
.underline-bottom {
    width: rem;
height: .2rem;
background-color: cadetblue;
margin: 0 auto 2rem;
}
.go-top-btn img {
  width: 60px;
  height: 60px;
  position: fixed;
  transition: all .25s ease-in-out;
  background:rgb(202, 28, 57);
  border-radius: 30px;
  padding: 15px;
  padding-top: 16px;
  scroll-behavior: smooth;
  transform: 2s;
  opacity: .8;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  box-shadow: -1px 10px 40px -12px rgba(0, 0, 0, 0.849);
}
.go-top-btn img:hover{
  opacity: 1;
}
.go-top-btn .show {
    visibility: visible;
    opacity: 1;
}
.go-top-btn .hide {
    visibility: hidden;
    opacity: 0;
  }
  /*  */

  .top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    
      cursor: pointer;
      align-items: center;
      justify-content: center;
      margin: 0 3em 3em 0;
      border-radius: 50%;
      padding: .25em;
      width: 50px;
      height: 50px;

  }
  .top-link img {
    width: 60px;
    height: 60px;
    position: fixed;
    transition: all .25s ease-in-out;
    background:rgb(202, 28, 57);
    border-radius: 30px;
    padding: 15px;
    padding-top: 16px;
    scroll-behavior: smooth;
    transform: 2s;
    opacity: .8;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    box-shadow: -1px 10px 40px -12px rgba(0, 0, 0, 0.849);
  }
  .top-link img:hover {
      opacity: 1;
  }
  
  /*  */

/* nav */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    color: black;
    
}
.navbar-toggler-icon {
    background: black;
}
.navbar-brand {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;
    

}
.navbar-nav li a {
    color: black;
    font-weight: 400;
}
.navbar-nav li a:active {
    color: rgba(0, 0, 0, 0.63);
}
.navbar-nav li a:hover {
    color: rgba(0, 0, 0, 0.63);
}
/* nav end */
/* slider */
.slide-h3 {
    font-size: 50px;
    text-align: center;
}
.carousel-item{
    background: rgba(0, 0, 0, 0.514);
    height: 100vh;
    /* text-align: center; */
}
.carousel-caption {
    position: absolute;
    text-transform: uppercase; 
}
.carousel-caption h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem; 
    text-shadow: .1rem .1rem .2rem black;
    padding: 1rem;

}
.carousel-caption p {
    font-size: 1rem;
    text-shadow: .1rem .1rem .2rem black;
    padding-bottom: 1.6rem;
}
.carousel-inner .carousel-item img {
    text-align: center;
    height: 100vh;
    justify-items: center;
    justify-content: center;
}
/* slider */
/* about us */


/* about us */


/* menu start */
#menu .container .row .col-md-4:hover{
    transform: translateY(-10px);
    transition: 1s;
}

/* menu end */
/* special start */
.portfolio #portfolio-filters {
    list-style: none;
    margin-bottom: 20px;
}
.portfolio #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
}
.portfolio #portfolio-filters li:hover, .portfolio #portfolio-filters li.filter-active {
    background: green;
    color: #fff;
}
.portfolio .portfolio-item {
    margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}
.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.6s;
}
.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all 0.3s;
    background:  rgba(55, 81, 126, 0.8);
    padding: 10px 15px;  
}
.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-size: 800;
    color: #fff;
    margin-bottom: 0px;
}
.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.15);
}
.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}


/* start gallery */
/* end gallery */
/* end services */
/* .col-md-4 a i {
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    opacity: .9;
} */
/* contact us */
#contactus {
  min-width: fit-content;
  min-height: 50px;
}
.social img:hover {
    opacity: 1;
    background: black;
    background-color: black;
}
.col-md-6 p {
    font-size: 15px;
    opacity: 0.8;
}
.col-md-6 p:hover{
opacity: 1;
}
.col-md-6 h6 {
    font-size: 15px;
    opacity: 0.8;
}
.col-md-6 h6:hover {
    opacity: 1;
}
.col-md-6 a img:hover {
    background: white;
}

/* end contact us */